md-toolbar.animate-show.md-whiteframe-z1
  .md-toolbar-tools
    md-button.md-icon-button(ng-click="toggleSidenav('left')" aria-label='Menu')
      i.material-icons menu
    div
      span.arrow {{appName}}
        i.material-icons keyboard_arrow_right      
        | location        

    span(flex='')
    md-button.md-icon-button(title='Search' ng-click='toggleSearch()')
      i.material-icons search
    md-button.md-icon-button(title='{{ "ShareRide" | translate}}')
      a(ui-sref='create-place-form')
        i.material-icons share        
    md-button.md-icon-button(title='{{ "AddPlace" | translate}}')
      a(ui-sref='create-place-form')
        i.material-icons add_location

    md-button.md-icon-button(aria-label='Logout' ng-show="showLogout" title='{{ "Logout" | translate }}')
      a(ui-sref='logout')
        i.material-icons exit_to_app
