div(map-lazy-load="https://maps.google.com/maps/api/js", map-lazy-load-params="{{googleMapsApiUrl}}")
  ng-map(zoom="15" default-style="true")
    marker(position="current", centered="true")

md-autocomplete(md-selected-item='selectedPlace', md-search-text-change='searchPlaceChange(searchPlaceText)', md-search-text='searchPlaceText', md-selected-item-change='selectedPlaceChange(place)', md-items='place in placeSearch(searchPlaceText)', md-item-text='place.name', md-min-length='3', placeholder='{{ "choose_destination" | translate }}', md-menu-class='autocomplete-custom-template')
  md-item-template
    span.item-title
      md-icon(md-svg-icon='img/icons/octicon-repo.svg')
      span  {{item.name}} 
    span.item-metadata
      span.item-metastat
        strong {{item.watchers}}
        |  watchers
      span.item-metastat
        strong {{item.forks}}
        |  forks
