md-toolbar.animate-show.md-whiteframe-z1(ng-show='!showSearch').md-tall
  .md-toolbar-tools
    md-button.md-icon-button(ng-click="toggleSidenav('left')" hide-gt-md='' aria-label='Menu')
      i.material-icons menu
    h3
      | {{ 'myapp' | translate}}
    span(flex='')
    md-button.md-icon-button(aria-label='Search' ng-click='toggleSearch()' ng-show="isLoggedIn()")
      i.material-icons search
    md-button.md-icon-button(aria-label='Help')
      i.material-icons help
    md-button.md-icon-button(aria-label='Login' ng-hide="isLoggedIn()")
      a(ui-sref='login')
        i.material-icons account_circle  
    md-button.md-icon-button(aria-label='Logout' ng-show="isLoggedIn()")
      a(ui-sref='logout')
        i.material-icons exit_to_app
  .md-toolbar-tools
    span {{ title }}
    
md-toolbar.animate-show.md-hue-1.md-whiteframe-z1(ng-show='showSearch')
  .md-toolbar-tools
    md-button.md-icon-button(ng-click='toggleSearch()', aria-label='Menu')
      i.material-icons arrow_back      
    h3(role='button', ng-click='toggleSearch()')
    span(flex='100')
      md-autocomplete(md-theme='input', md-input-name='autocompleteField', md-no-cache='noCache', md-selected-item='selectedItem', md-search-text='searchText', md-items='item in querySearch(searchText)', md-item-text='item.display', placeholder='Search')
        md-item-template
          span(md-highlight-text='searchText') {{item.display}}
