$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/* Media Queries */
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

.my-app-default-style{

  /* Angular-Material Override */
  $formColor: rgb(63,81,181);
  $inputColor: #424242;


  /* fade animation */
  .animate-show {
    transition: 0.75s ease-out opacity;
    opacity: 1;
    &.ng-hide {
      height: 0;
      min-height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }
  md-card {
    background-color: #fff;
    h2:first-of-type {
      margin-top: 0;
    }
  }

  md-card{
    form{
      select{
        font-size: 16px;
        text-shadow: none;
        color: $formColor;
      }
      label{
        font-size: 16px;
        text-shadow: none;
        color: $formColor;
      }
      input{
        color: $inputColor;
        text-shadow: none;
        &:focus{
          &:not([readonly]){
            border-bottom-color: $formColor;
            border-bottom: solid 1px $formColor;
            box-shadow: 0 1px 0 0 $formColor;
          }
        }
      }

      md-input-container{
        .md-select-value.md-select-placeholder{
          color: $formColor;
          border-bottom-color: rgb(158, 158, 158);
        }
        &.map-input-container{
          @media #{$small-and-down} {
             margin-top: 80px;
          }
        }
      }
    }
  }

  md-autocomplete{
    md-input-container{
      padding-bottom: 0px;
    }
  }

  md-content.md-default-theme{
    background-color: #eee;
  }
}

// Component styles are injected through grunt
/* inject:scss */
@import 'account/login/login';
@import 'admin/admin';
@import 'main/main';
@import 'place/place-form/place-form';
@import 'place/place';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
@import '../components/search-map/search-map';
@import '../components/toolbar/toolbar';
/* endinject */
