
navbar{
  height: 100%;

  md-sidenav{
    height: 100%;
    .avatar-picture{
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }
    & > md-toolbar {
      padding: 15px; //material design concepts
      .toolbar-subtitle{
        height: 56px;//material design concepts
      }
    }
    & md-list-item.md-2-line .md-list-item-text {
      padding-top: 14px;
      padding-bottom: 12px;
    }
    & md-divider {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}
