
navbar{
  height: 100%;

  md-sidenav{
    height: 100%;
    .md-toolbar-tools-bottom {
      font-size: small;
      & :last-child {
        opacity: 0.8;
      }
    }
    .avatar-picture{
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }
    .inset{
      a{
        color: inherit;
      }
    }
    .active-item{
      button{
        background-color: rgba(158,158,158,0.2);
      }
    }

    & > md-toolbar {
      padding: 15px; //material design concepts
      .toolbar-subtitle{
        height: 56px;//material design concepts
      }
    }
    & md-list-item.md-2-line .md-list-item-text {
      padding-top: 14px;
      padding-bottom: 12px;
    }
    & md-divider {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}
