.my-app-default-style{
  search-map{
    width: 100%;
    md-input-container.map-input-container{
      position: relative;
      z-index: 6;
      margin: 0px 0px 0px 0px;
      width: 100%;
      input{
        position: relative;
        left: 130px;
        max-width: 400px;
        width: 100%;
        @media #{$small-and-down} {
           top: 24px;
           left: -13px;
        }

      }
    }
    .map-container{
      position: relative;;
      top: -60px;
    }

    .controls {
      margin-top: 10px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
    }

    #pac-input:focus {
      border-color: #4d90fe;
    }

    .pac-container {
      font-family: Roboto;
    }

  }

}
