md-input-container.md-block.map-input-container(flex='' md-no-float='')
  input.controls(id="pac-input" type="text" placeholder="Enter a location"  places-auto-complete='' component-restrictions="{country:'br'}" 
  on-place-changed="$ctrl.onSelectPlace(this)" ng-model="$ctrl.address.text")
    
div.map-container(map-lazy-load="https://maps.google.com/maps/api/js", map-lazy-load-params="{{$ctrl.googleMapsApiUrl}}")
  ng-map(zoom="15" default-style="true")
    marker(position="current" centered="true")
    marker(position="{{destination.geometry.location}}", centered="true")
