toolbar(title="{{ 'CreateNewPlace' | translate}}" place="true")
md-content(layout-padding='' layout-margin='')
  md-card.card-form
    md-card-content
      form(name='placeForm')
          div(layout-gt-sm="row")
            md-input-container.md-block(flex-gt-sm="70")
              label {{ 'Place Name' | translate }}
              input(md-maxlength='30', required='', name='name', ng-model='place.name')
              div(ng-messages='placeForm.name.$error')
                div(ng-message='required') This is required.
                div(ng-message='md-maxlength') The name has to be more than 30 characters long.          
            md-input-container.md-block(flex-gt-sm="30")
              label {{ 'Category' | translate }}
              md-select(ng-model='place.category' placeholder="{{ 'Category' | translate }}")
                md-option(ng-repeat='category in categoryList', value='{{category}}')
                  | {{category}}
                
          div(layout-gt-sm="row")
            md-input-container.md-block(flex-gt-sm="70")
              label {{ 'Address' | translate }}
              input(md-maxlength='30', required='', name='address', ng-model='place.address')
              div(ng-messages='placeForm.address.$error')
                div(ng-message='required') This is required.
                div(ng-message='md-maxlength') The name has to be more than 30 characters long.                          
            md-input-container.md-block(flex-gt-sm="30")
              label {{ 'AddressDetail' | translate }}
              input(md-maxlength='15', name='addressDetail', ng-model='place.addressDetail')
              div(ng-messages='placeForm.addressDetail.$error')
          div(layout-gt-sm="row")
            md-input-container.md-block(flex-gt-sm="")
              label {{ 'Country' | translate }}
              md-select(ng-model='place.country')
                md-option(ng-repeat='country in countryList', value='{{country}}')
                  | {{country}}
                  
            md-input-container.md-block(flex-gt-sm='')
              label {{ 'State' | translate }}
              md-select(ng-model='place.state')
                md-option(ng-repeat='state in stateList', value='{{state}}')
                  | {{state}}
          md-card-actions(layout='row' layout-align='end right', layout-margin='')
            md-input-container.md-block(flex-gt-sm="")
              md-button.md-raised {{ 'Cancel' | translate }}
              md-button.md-raised.md-primary.right {{ 'Save' | translate }}
